* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(93, 51, 51);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.logo-img {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.logo {
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
h1 {
  background-color: aliceblue;
}
.main-text {
  position: absolute;
  justify-content: center;
  z-index: 10;
  max-width: 1920px;
  width: 100%;
  text-align: right;
  top: 385px;
  right: 130px;
}
.text h1 {
  font-size: 71px;
  color: rgb(13, 14, 15);
}
.text h2 {
  font-size: 49.9px;
  color: rgb(2, 3, 6);
}
.text h3 {
  font-size: 23.29px;
  color: rgb(1, 2, 3);
}
.social-icons a {
  padding: 15px;
  text-decoration: none;
  color: rgb(0, 0, 255);
}
.icons {
  padding-top: 65px;
}
#me {
  max-width: 430px;
  width: 100%;
  height: 603px;
}
.info-section {
  display: flex;
  justify-content: space-around;
}
.more-info {
  max-width: 1920px;
  width: 100%;
}
.info {
  margin-top: 218px;
}

.bio {
  max-width: 330px;
  width: 100%;
}
.info a {
  text-decoration: none;
  color: white;
}
.info button {
  background-color: #e93656;
  width: 152px;
  height: 50px;
}
.info h3 {
  color: #daae19;
  font-size: 14px;
  padding-left: 60px;
}
.info h2 {
  padding-top: 5px;
  justify-content: right;
}
.bio p {
  margin-top: 33px;
  margin-bottom: 60px;
}
#info-photo {
  margin-top: 60px;
}
.hover {
  padding: 42px;
}

.hover a {
  text-decoration: none;
  color: #382020;
}
.hover :hover {
  background-color: #e93656;
  transition: 3s;
}

.percent {
  display: none;
  color: #e93656;
}
.hover :hover + .percent {
  display: block;
  color: #e93656;
}
.contact {
  max-height: 1920px;
  width: 100%;
  height: 210px;
  background-color: #131a36;
}
.contact-info {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 80px;
}

.phone-number,
.email,
.address {
  color: rgb(156, 107, 44);
}
/* სტილები სერვისებისთვის */

.service-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 340px;
  background-color: #fafafa;
  opacity: 0.97;
  border: 1px rgb(185, 182, 182) solid;
  margin-right: 10px;
  position: relative;
  color: #222222;
}

.service-one img {
  width: 70px;
  margin-bottom: 20px;
}

.service-one h3 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.44px;
  color: #222222;
}

.four-services {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* articles section */
.articles {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.articles-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-title span {
  font-size: 13px;
  line-height: 36px;
  color: #2ed279;
  margin-bottom: 5px;
  font-family: "Poppins";
}
.articles-title h3 {
  font-size: 70px;
  line-height: 36px;
  color: #2e2e2e;
  margin-bottom: 70px;
  font-family: "Poppins";
}

.one-block {
  display: flex;
  flex-direction: row;
}

.second-block {
  display: flex;
  flex-direction: row-reverse;
}

.description-box {
  width: 745px;
  height: 490px;
  background-color: #ffffff;
}

.second-article {
  width: 670px;
}
.middle-blue-box {
  width: 120px;
  height: 490px;
  background-color: #15263e;
}

.article-image {
  width: 840px;
  height: 490px;
  background-image: url("../images/aricle1.jpg");
  object-fit: cover;
}

.second-article-image {
  width: 875px;
  background-image: url("../images/article2.jpg");
}
.third-article-image {
  background-image: url("../images/article3.jpg");
}

.rotated-text {
  transform: rotate(-90deg);
  transform-origin: 176px 139px;
  display: block;
  width: 160px;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.44px;
  color: #e93656;
}

.article-content {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: #fafafa;
  width: 80%;
  margin-left: 20%;
  height: 490px;
}

.article-content-second {
  margin-left: 0;
}

.square-icon1 {
  width: 70px;
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.square-icon2 {
  width: 70px;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 30px;
  background-color: #e93656;
}

.square-icon3 {
  transform: rotate(180deg);
  width: 70px;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.article-content span {
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 1.12px;
  color: #888888;
  margin-bottom: 10px;
  font-family: "Lato";
}
.article-content h3 {
  font-size: 40px;
  line-height: 44px;
  color: #161616;
  margin-bottom: 25px;
  font-family: "Lato";
}

.article-content p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.48px;
  color: #494949;
  font-family: "Lato";
}

/* team section */
.team-section {
  margin-top: 170px;
  margin-bottom: 180px;
}

.five-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 200px;
}

.partner-box {
  position: relative;
}

.icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 160%;
  height: 150%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 3px #e93656 solid;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.25s;
}
.icon-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.icon-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.icon-overlay:hover > * {
  transform: translateY(0);
}

.icon-overlay h3 {
  font-size: 16px;
  line-height: 28px;
  color: #161616;
  letter-spacing: 0.32px;
  margin-bottom: 10px;
  font-family: "Lato";
}

.icon-overlay p {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.39px;
  color: #626262;
  margin-bottom: 10px;
  font-family: "Lato";
}
.services :hover {
  background-color: #e93656;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-form {
  width: 290px;
  height: 50px;
  border: none;
  outline: none;
}
input {
  font-size: 10px;
  line-height: 52px;
  color: #515151;
  padding-left: 30px;
}

.main-form-row {
  display: flex;
  flex-direction: row;
}

.main-form-ro div {
  margin-right: 10px;
  margin-bottom: 10px;
}
textarea {
  width: 900px;
  height: 110px;
  padding: 30px;
  outline: none;
}

#send-button {
  border: 2px solid #98142c;
  background-color: transparent;
  color: #e93656;
  font-size: 12px;
  line-height: 50px;
  letter-spacing: 0.96px;
  padding: 0 40px;
  margin-top: 30px;
}

#send-button:hover {
  background-color: #e93656;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

/* რესფონსივისთვის ცალკე ფაილის შექმნას ვამჯობინე ერთფაილში დაწერა */
@media (max-width: 955px) {
  .main-text {
    top: 130px;
  }
  .text h1 {
    font-size: 45px;
    color: aquamarine;
  }
  .text h2 {
    font-size: 29px;
    color: aquamarine;
  }
  .text h3 {
    font-size: 15px;
    color: aquamarine;
  }
}

@media (max-width: 510px) {
  .main-text {
    right: 21px;
    top: 106px;
  }
  .text h1 {
    font-size: 25px;
    color: aquamarine;
  }
  .text h2 {
    font-size: 15px;
    color: aquamarine;
  }
  .text h3 {
    font-size: 10px;
    color: aquamarine;
  }
  #me {
    display: none;
  }
  .contact-info svg {
    width: 20px;
  }
  .contact-info span {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .icons {
    padding-top: 0px;
  }
  .social-icons {
    padding: -7px;
  }
  *.info-section {
    flex-wrap: wrap;
  }
  .hover {
    padding: 15px;
  }
}
@media (max-width: 370px) {
  .main-text {
    display: none;
  }
  .social-icons {
    display: none;
  }
}
@media (max-width: 700px) {
  .icons {
    padding-top: 20px;
  }
}
@media (max-width: 1160px) {
  .service-one {
    width: 100px;
  }
}
@media (max-width: 475px) {
  .four-services {
    flex-wrap: wrap;
  }
}
@media (max-width: 1160px) {
  .one-block {
    flex-wrap: wrap;
  }
  .second-block {
    flex-wrap: wrap;
  }
  .middle-blue-box {
    display: none;
  }
  .third-article-image {
    display: none;
  }
}
@media (max-width: 710px) {
  .decor {
    width: 600px;
    padding-left: 75px;
  }
}
@media (max-width: 630px) {
  .decor {
    width: 450px;
    padding-left: 14px;
  }
}
@media (max-width: 480px) {
  .decor {
    width: 300px;
    padding-left: 38px;
    padding-top: 244px;
  }
  .article-content p {
    width: 200px;
  }
}
@media (max-width: 925px) {
  #message {
    width: 200px;
    justify-content: center;
  }
  .name-form {
    justify-content: flex-start;
  }
  .name-form {
    width: 200px;
  }
}

@media (max-width: 630px) {
  .name-form {
    width: 10px;
  }
}
